body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    width: 300pt;
    height: 30pt;
    margin: 10pt;
    font-size: 15pt;
}